@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nyw4lm');
  src:  url('fonts/icomoon.eot?nyw4lm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nyw4lm') format('truetype'),
    url('fonts/icomoon.woff?nyw4lm') format('woff'),
    url('fonts/icomoon.svg?nyw4lm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\f09b";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-file-text:before {
  content: "\f15c";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
