{{ partialCached "header/head.html" . }}

{{ partial "sidebar.html" . }}

  <div id="container">
    <div id="content">

        <h1>{{ .Title }}</h1>

        <ul class="article-list">
          {{ range .Paginator.Pages }}
            <li>
              <div class="thumb">
                {{ partial "thumbnail.html" . }}
              </div>
              <div class="article">
                <h3 class="m-0"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <small class="p-b-2">in {{ partial "category.html" .Params.Categories }} on {{ .Lastmod.Format "January 2, 2006" }}</small>
                <p class="m-2">{{ .Description }}</p>
                <small class="p-t-2" style="display: block;">
                  {{ range .Params.tags }}
                    {{ partial "tag.html" . }}
                  {{ end }}
                </small>
              </div>
            </li>
          {{ end }}
        </ul>

        {{ partial "pagination.html" . }}

    </div>

  </div>

{{ partialCached "footer/foot.html" . }}