{{ partial "header/head.html" . }}

{{ partialCached "navigation.html" . }}

  <div id="container">
    <div id="content">
      <h1 class="animated flipInX m-b-1"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
      <p class="post-info animated fadeIn m-t-1">
        <i>in {{ partial "category.html" .Params.Categories }} on {{ .Lastmod.Format "January 2, 2006" }}</i> |
        <small>
          {{ range .Params.tags }}
            {{ partial "tag.html" . }}
          {{ end }}
        </small>
      </p>

      {{ .Content }}

      {{ partialCached "footer/content-foot.html" . }}
    </div>
  </div>

{{ partial "footer/foot.html" . }}
