{{- $title := .Site.Title }}
{{- if not .IsHome }}
  {{- $title = .Title }}
{{- end }}

{{- $author := dict "@type" "Person" "name" .Site.Params.Author }}

{{- $keywords := slice $author "Blog" }}
{{- if isset .Params "tags" }}
  {{- $keywords = union .Params.tags $keywords }}
{{- end }}
{{- if isset .Site.Params "tags" }}
  {{- $keywords = union .Site.Params.tags $keywords }}
{{- end }}
{{- $keywords = $keywords | uniq }}

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Site.BaseURL }}"
  },
  "articleSection" : "{{ .Section }}",
  "name" : "{{ $title }}",
  "headline" : "{{ $title }}",
  "description" : "{{ (.Description | default .Site.Params.Description) }}",
  "inLanguage" : "{{ .Site.LanguageCode }}",
  "author" : {{ $author }},
  "creator" : {{ $author }},
  "accountablePerson" : {{ $author }},
  "copyrightHolder" : {{ $author }},
  "publisher": { "@type": "Organization", "name": "{{ index .Site.Params.Publisher }}", "logo": {"@type": "ImageObject", "url": "{{ .Site.Params.PublisherLogo }}", "width": 60, "height": 60 } },
  "copyrightYear" : "{{ .Date.Format "2006" }}",
  {{ with or (index (.Resources.Match "thumb.*") 0) (index (.Resources.ByType "image") 0) }}"image": "{{ .Permalink }}",{{ end }}
  "datePublished": "{{ .Date }}",
  "dateModified" : "{{ .Date }}",
  "url" : "{{ .Permalink }}",
  "wordCount" : "{{ .WordCount }}",
  "keywords" : [ {{ range $keywords }}"{{ . }}",{{ end }} ],
}
</script>