<div id="sidebar-border"></div>
<div id="sidebar">
  {{ if $.Site.Params.portrait }}
  <a href="{{ $.Site.Params.portrait | absURL }}" class="image-link">
    <img class="logo animated flipInY" src="{{ $.Site.Params.portrait | absURL }}"/>
  </a>
  {{ end }}

  <h1 class="center"><a href="{{ .Site.BaseURL }}" style="text-decoration: none;">{{ $.Site.Title }}</a></h1>
  <p class="center">{{ $.Site.Params.description }}</p>

  <div class="social">
    <a href="mailto:zinefer@gmail.com"><span class="socicon-mail"></span> Email</a>
    <a href="https://github.com/zinefer"><span class="socicon-github"></span> Github</a>
  </div>

  <h3>Categories</h3>
  <ul class="categories">
      {{ range $key, $value := .Site.Taxonomies.categories }}
      <li>
          <small>({{ len $value }})</small> <a href="/categories/{{ $key | urlize }}">{{ $key | humanize }}</a>
      </li>
      {{ end }}
  </ul>

  <h3><a href="{{ "/posts" | absURL }}">Recent posts</a></h3>
  <ul class="section">
    {{ range first 5 (where .Site.RegularPages "Section" "posts") }}
      <li>
        <small><i>{{ .Lastmod.Format "1/2/06" }}</i></small>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

  <h3><a href="{{ "/projects" | absURL }}">Recent projects</a></h3>
  <ul class="section">
    {{ range first 5 (where .Site.RegularPages "Section" "projects") }}
      <li>
        <small><i>{{ .Lastmod.Format "1/2/06" }}</i></small>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>
</div>
