{{ partialCached "header/head.html" . }}

{{ partial "sidebar.html" . }}

  <div id="container">
    <div id="content">

      <!-- <h1 class="animated flipInX"><a href="/">{{ $.Site.Title }}</a></h1> -->

      <!-- Most Recent Project -->
      {{ $sectiona := index .Site.Sections 0 }}
      {{ $sectionb := index .Site.Sections 1 }}

      {{ $articlea := index $sectiona.Pages 0 }}
      {{ $articleb := index $sectionb.Pages 0 }}

      <div>
        {{ with index ($articlea.Resources.ByType "image") 0 }}

          {{ $image := (.Fill "475x275 center") }}
          <figure class="frame" style="float: left">
            <div style="overflow:hidden;background-image: url('{{ $image.RelPermalink }}'); height: {{ $image.Height }}px; width: {{ $image.Width }}px">
                <h1 class="bg-gradient top m-0" style="">
                  Latest post
                </h1>

                <h1 class="bg-gradient bottom m-0" style="">
                  <a href="{{ $articlea.Permalink }}">{{ $articlea.Title }}</a>
                </h1>
            </div>
          </figure>

        {{ end }}

        {{ with index ($articleb.Resources.ByType "image") 0 }}

          {{ $image := (.Fill "475x275 center") }}
          <figure class="frame" style="float: right">
            <div style="overflow:hidden; background-image: url('{{ $image.RelPermalink }}'); height: {{ $image.Height }}px; width: {{ $image.Width }}px">
                <h1 class="bg-gradient top m-0" style="">
                  Latest project
                </h1>

                <h1 class="bg-gradient bottom m-0" style="">
                  <a href="{{ $articleb.Permalink }}">{{ $articleb.Title }}</a>
                </h1>
            </div>
          </figure>

        {{ end }}
      </div>

      <div style="clear:both"></div>

      <br/>

      <div class="article">
        {{ .Content }}
      </div>

      <br/>
      <br/>

      {{ if isset .Site.Params "social" }}
        {{ partialCached "social.html" . }}
      {{ end }}
    </div>
  </div>

{{ partialCached "footer/foot.html" . }}
