{{- partial "header/head.html" . }}

{{- partialCached "navigation.html" . }}

  <div id="container">
    <div id="content">

      <!-- <h1 class="animated flipInX"><a href="/">{{ $.Site.Title }}</a></h1> -->

      <!-- Most Recent Project -->
      {{ $sectiona := where .Site.RegularPages "Section" "posts" }}
      {{ $sectionb := where .Site.RegularPages "Section" "projects" }}

      {{ $articlea := index $sectiona 0 }}
      {{ $articleb := index $sectionb 0 }}

      <div>

        {{ with or (index ($articlea.Resources.Match "thumb.*") 0) (index ($articlea.Resources.ByType "image") 0) }}

          {{ $image := (.Fill "475x275 center") }}
          <figure class="frame latest-container" style="float: left">
            <div class="latest" style="background-image: url('{{ $image.RelPermalink }}'); height: {{ $image.Height }}px; width: {{ $image.Width }}px">
                <h1 class="bg-gradient top m-0">
                  Latest post
                </h1>

                <h2 class="bg-gradient bottom m-0">
                  <a href="{{ $articlea.Permalink }}">{{ $articlea.Title }}</a>
                </h2>
            </div>
          </figure>

        {{ end }}

        {{ with or (index ($articleb.Resources.Match "thumb.*") 0) (index ($articleb.Resources.ByType "image") 0) }}

          {{ $image := (.Fill "475x275 center") }}
          <figure class="frame latest-container" style="float: right">
            <div class="latest" style="background-image: url('{{ $image.RelPermalink }}'); height: {{ $image.Height }}px; width: {{ $image.Width }}px">
                <h1 class="bg-gradient top m-0">
                  Latest project
                </h1>

                <h2 class="bg-gradient bottom m-0">
                  <a href="{{ $articleb.Permalink }}">{{ $articleb.Title }}</a>
                </h2>
            </div>
          </figure>

        {{ end }}
      </div>

      <div style="clear:both"></div>

      <br/>

      <div class="article">
        {{ .Content }}
      </div>

      <br/>

      {{- partialCached "footer/content-foot.html" . }}
    </div>
  </div>

{{- partialCached "footer/foot.html" . }}
