{{ partialCached "header/head.html" . }}

{{ partial "sidebar.html" . }}

  <div id="container">
    <div id="content">

      <!-- <h1 class="animated flipInX"><a href="/">{{ $.Site.Title }}</a></h1> -->

      <!-- Most Recent Project -->
      {{ $project := index (where .Site.RegularPages "Section" "projects") 0 }}
      {{ if $project }}
        {{ with index ($project.Resources.ByType "image") 0 }}
          {{ $image := (.Fill "1000x300 center") }}
          <!-- {{ partial "image.html" (dict "Original" . "Image" $image) }} -->

          <div style="position: relative;background-image: url('{{ $image.RelPermalink }}'); height: {{ $image.Height }}px; width: {{ $image.Width }}px">

            <div>
              <h3 class="m-b-1" style="position:absolute;bottom:0;color:white"><a href="{{ $project.Permalink }}">{{ $project.Title }}</a></h3>
            </div>
          </div>

        {{ end }}
      {{ end }}

      <hr/>


      <div class="article">
        {{ .Content }}
      </div>

      {{ if isset .Site.Params "social" }}
        {{ partialCached "social.html" . }}
      {{ end }}
    </div>
  </div>

{{ partialCached "footer/foot.html" . }}
