<!--

  3x1
  1x3
  2x1
  1x2
  1x1   (325xmin 325xmin)
  1x1x1 (225xmin 225xmin)
-->

{{ $format := .Get 0 }}
{{ $images :=  after 1 .Params }}
{{ $resources :=  .Page.Resources }}

{{ if eq $format "3x1" }}

  {{ $left := first 3 $images }}
  {{ $main := index $images 3 }}

  {{ $main_original := $resources.GetMatch (printf "*%s*" $main) }}
  {{ $main_image    := $main_original.Resize "525x" }}

  {{ $height := sub (div $main_image.Height 3) 14 }}

  <div class="mosaic">
    <div class="col small">

      {{range $left}}

        {{ $original := $resources.GetMatch (printf "*%s*" (.)) }}
        {{ $image    := ($original.Fill (printf "156x%v center" $height)) }}
        {{ partial "image.html" (dict "Original" $original "Image" $image) }}

      {{ end }}

    </div>
    <div class="col">

      {{ $original := $resources.GetMatch (printf "*%s*" $main) }}
      {{ $image := ($original.Resize "525x") }}
      {{ partial "image.html" (dict "Original" $original "Image" $image) }}

    </div>
  </div>

{{ else if eq $format "1x3"  }}

  {{ $main :=  index $images 0 }}
  {{ $right := after 1 $images }}

  {{ $main_original := $resources.GetMatch (printf "*%s*" $main) }}
  {{ $main_image    := $main_original.Resize "525x" }}

  {{ $height := sub (div $main_image.Height 3) 14 }}

  <div class="mosaic">
    <div class="col">

      {{ $original := $resources.GetMatch (printf "*%s*" $main) }}
      {{ $image := ($original.Resize "525x") }}
      {{ partial "image.html" (dict "Original" $original "Image" $image) }}

    </div>
    <div class="col small">

      {{range $right}}

        {{ $original := $resources.GetMatch (printf "*%s*" (.)) }}
        {{ $image := ($original.Fill (printf "156x%v center" $height)) }}
        {{ partial "image.html" (dict "Original" $original "Image" $image) }}

      {{ end }}

    </div>
  </div>

{{ else if eq $format "2x1"  }}

  {{ $left := first 2 $images }}
  {{ $main := index $images 2 }}

  {{ $main_original := $resources.GetMatch (printf "*%s*" $main) }}
  {{ $main_image    := $main_original.Resize "525x" }}

  {{ $height := sub (div $main_image.Height 2) 12 }}

  <div class="mosaic">
    <div class="col small">

      {{range $left}}

        {{ $original := $resources.GetMatch (printf "*%s*" (.)) }}
        {{ $image    := ($original.Fill (printf "156x%v center" $height)) }}
        {{ partial "image.html" (dict "Original" $original "Image" $image) }}

      {{ end }}

    </div>
    <div class="col">

      {{ $original := $resources.GetMatch (printf "*%s*" $main) }}
      {{ $image := ($original.Resize "525x") }}
      {{ partial "image.html" (dict "Original" $original "Image" $image) }}

    </div>
  </div>

{{ else if eq $format "1x2"  }}

  {{ $main :=  index $images 0 }}
  {{ $right := after 1 $images }}

  {{ $main_original := $resources.GetMatch (printf "*%s*" $main) }}
  {{ $main_image    := $main_original.Resize "525x" }}

  {{ $height := sub (div $main_image.Height 2) 12 }}

  <div class="mosaic">
    <div class="col">

      {{ $original := $resources.GetMatch (printf "*%s*" $main) }}
      {{ $image := ($original.Resize "525x") }}
      {{ partial "image.html" (dict "Original" $original "Image" $image) }}

    </div>
    <div class="col small">

      {{range $right}}

        {{ $original := $resources.GetMatch (printf "*%s*" (.)) }}
        {{ $image := ($original.Fill (printf "156x%v center" $height)) }}
        {{ partial "image.html" (dict "Original" $original "Image" $image) }}

      {{ end }}

    </div>
  </div>

{{ else if eq $format "1x1"  }}

  {{ $left := index $images 0 }}
  {{ $right := index $images 1 }}

  {{ $left_original := $resources.GetMatch (printf "*%s*" $left) }}
  {{ $right_original := $resources.GetMatch (printf "*%s*" $right) }}

  {{ $left_image := "null" }}
  {{ $right_image := "null" }}

  {{ $min_height := math.Min $left_original.Height $right_original.Height }}

  {{ if eq $left_original.Height $min_height }}
    
    {{ $left_image = $left_original.Resize "325x" }}
    {{ $height := $left_image.Height }}
    {{ $right_image = $right_original.Fit (printf "325x%v center" $height) }}

  {{ else }}

    {{ $right_image = $right_original.Resize "325x" }}
    {{ $height := $right_image.Height }}
    {{ $left_image = $left_original.Fit (printf "325x%v center" $height) }}

  {{ end }}

  <div class="mosaic">
    <div class="col">
      
      {{ partial "image.html" (dict "Original" $left_original "Image" $left_image) }}
      
    </div>
    <div class="col">

      {{ partial "image.html" (dict "Original" $right_original "Image" $right_image) }}

    </div>
  </div>

{{ else if eq $format "1x1x1"  }}

  {{ $left := index $images 0 }}
  {{ $middle := index $images 1 }}
  {{ $right := index $images 2 }}

  {{ $left_original := $resources.GetMatch (printf "*%s*" $left) }}
  {{ $middle_original := $resources.GetMatch (printf "*%s*" $middle) }}
  {{ $right_original := $resources.GetMatch (printf "*%s*" $right) }}

  {{ $left_image := "null" }}
  {{ $middle_image := "null" }}
  {{ $right_image := "null" }}

  {{ $min_height := (math.Min $left_original.Height (math.Min $middle_original.Height $right_original.Height)) }}

  {{ if eq $left_original.Height $min_height }}

    {{ $left_image = $left_original.Resize "225x" }}
    {{ $height := $left_image.Height }}
    {{ $middle_image = $middle_original.Fit (printf "225x%v center" $height) }}
    {{ $right_image = $right_original.Fit (printf "225x%v center" $height) }}

  {{ else if eq $middle_original.Height $min_height }}

    {{ $middle_image = $middle_original.Resize "225x" }}
    {{ $height := $middle_image.Height }}
    {{ $left_image = $left_original.Fit (printf "225x%v center" $height) }}
    {{ $right_image = $right_original.Fit (printf "225x%v center" $height) }}

  {{ else }}

    {{ $right_image = $right_original.Resize "225x" }}
    {{ $height := $right_image.Height }}
    {{ $left_image = $left_original.Fit (printf "225x%v center" $height) }}
    {{ $middle_image = $middle_original.Fit (printf "225x%v center" $height) }}

  {{ end }}

  <div class="mosaic">
    <div class="col">
      
      {{ partial "image.html" (dict "Original" $left_original "Image" $left_image) }}
      
    </div>
    <div class="col">

      {{ partial "image.html" (dict "Original" $middle_original "Image" $middle_image) }}

    </div>
    <div class="col">

      {{ partial "image.html" (dict "Original" $right_original "Image" $right_image) }}

    </div>
  </div>

{{ end }}
