<!--
  3x1
  1x3
  2x1
  1x2
  1x1   (325xmin 325xmin)
  1x1x1 (225xmin 225xmin)
-->

{{ $opts := .Get 0 }}
{{ $images :=  after 1 .Params }}
{{ $resources :=  .Page.Resources }}

{{ $opts = split $opts "|" }}

{{ $format := index $opts 0 }}

{{ $opt_height := false }}
{{ $opt_width := false }}

{{ if eq $format "1x1" }}
  {{ $opt_height = "" }}
  {{ $opt_width = 325 }}
{{ else if eq $format "1x1x1" }}
  {{ $format = "1x1" }}
  {{ $opt_height = "" }}
  {{ $opt_width = 225 }}
{{ end }}

{{ if isset $opts 1 }}
  {{ $size := split (index $opts 1) "x" }}
  {{ $opt_width = index $size 0 | default $opt_width }}
  {{ $opt_height = index $size 1 | default $opt_height }}
{{ end }}

{{ if eq $format "3x1" }}

  {{ $left := first 3 $images }}
  {{ $main := index $images 3 }}

  {{ $main_original := $resources.GetMatch (printf "*%s*" $main) }}
  {{ $main_image    := $main_original.Resize "525x" }}

  {{ $height := sub (div $main_image.Height 3) 14 }}

  <div class="mosaic">
    <div class="col small">

      {{range $left}}

        {{ $original := $resources.GetMatch (printf "*%s*" (.)) }}
        {{ $image    := ($original.Fill (printf "156x%v center" $height)) }}
        {{ partial "image.html" (dict "Original" $original "Image" $image) }}

      {{ end }}

    </div>
    <div class="col">

      {{ $original := $resources.GetMatch (printf "*%s*" $main) }}
      {{ $image := ($original.Resize "525x") }}
      {{ partial "image.html" (dict "Original" $original "Image" $image) }}

    </div>
  </div>

{{ else if eq $format "1x3"  }}

  {{ $main :=  index $images 0 }}
  {{ $right := after 1 $images }}

  {{ $main_original := $resources.GetMatch (printf "*%s*" $main) }}
  {{ $main_image    := $main_original.Resize "525x" }}

  {{ $height := sub (div $main_image.Height 3) 14 }}

  <div class="mosaic">
    <div class="col">

      {{ $original := $resources.GetMatch (printf "*%s*" $main) }}
      {{ $image := ($original.Resize "525x") }}
      {{ partial "image.html" (dict "Original" $original "Image" $image) }}

    </div>
    <div class="col small">

      {{range $right}}

        {{ $original := $resources.GetMatch (printf "*%s*" (.)) }}
        {{ $image := ($original.Fill (printf "156x%v center" $height)) }}
        {{ partial "image.html" (dict "Original" $original "Image" $image) }}

      {{ end }}

    </div>
  </div>

{{ else if eq $format "2x1"  }}

  {{ $left := first 2 $images }}
  {{ $main := index $images 2 }}

  {{ $main_original := $resources.GetMatch (printf "*%s*" $main) }}
  {{ $main_image    := $main_original.Resize "525x" }}

  {{ $height := sub (div $main_image.Height 2) 12 }}

  <div class="mosaic">
    <div class="col small">

      {{range $left}}

        {{ $original := $resources.GetMatch (printf "*%s*" (.)) }}
        {{ $image    := ($original.Fill (printf "156x%v center" $height)) }}
        {{ partial "image.html" (dict "Original" $original "Image" $image) }}

      {{ end }}

    </div>
    <div class="col">

      {{ $original := $resources.GetMatch (printf "*%s*" $main) }}
      {{ $image := ($original.Resize "525x") }}
      {{ partial "image.html" (dict "Original" $original "Image" $image) }}

    </div>
  </div>

{{ else if eq $format "1x2"  }}

  {{ $main :=  index $images 0 }}
  {{ $right := after 1 $images }}

  {{ $main_original := $resources.GetMatch (printf "*%s*" $main) }}
  {{ $main_image    := $main_original.Resize "525x" }}

  {{ $height := sub (div $main_image.Height 2) 12 }}

  <div class="mosaic">
    <div class="col">

      {{ $original := $resources.GetMatch (printf "*%s*" $main) }}
      {{ $image := ($original.Resize "525x") }}
      {{ partial "image.html" (dict "Original" $original "Image" $image) }}

    </div>
    <div class="col small">

      {{range $right}}

        {{ $original := $resources.GetMatch (printf "*%s*" (.)) }}
        {{ $image := ($original.Fill (printf "156x%v center" $height)) }}
        {{ partial "image.html" (dict "Original" $original "Image" $image) }}

      {{ end }}

    </div>
  </div>

{{ else if eq $format "1x1"  }}

  {{ $shortest := false }}
  {{ $originals := slice }}
  {{ range $index, $image := $images }}
    {{ $original := $resources.GetMatch (printf "*%s*" $image) }}
    {{ $originals = $originals | append $original }}

    {{ if eq $shortest false }}
      {{ $shortest = $index }}
    {{ else if gt (index $originals $shortest).Height $original.Height }}
      {{ $shortest = $index }}
    {{ end }}
  {{ end }}

  {{ $size := (printf "%vx%v" $opt_width $opt_height) }}

  {{ $shortest_image := false }}
  {{ if or (eq $opt_width "") (eq $opt_height "") }}
    {{ $shortest_image = (index $originals $shortest).Resize $size }}
  {{ else }}
    {{ $shortest_image = (index $originals $shortest).Fill $size }}
  {{ end }}
  {{ $height := $shortest_image.Height }}

  <div class="mosaic">
    {{ range $index, $original := $originals }}
      <div class="col">
        {{ $image := false }}
        {{ if eq $index $shortest }}
          {{ $image = $shortest_image }}
        {{ else }}
          {{ $image = $original.Fill (printf "%vx%v center" $opt_width $height) }}
        {{ end }}

        {{ partial "image.html" (dict "Original" $original "Image" $image) }}
      </div>
    {{ end }}
  </div>

{{ end }}
